doctype html
html(lang='en')
	head
		title Imperial Boootstrap Template
		link(href='favicon.ico', rel='shortcut icon')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800', rel='stylesheet')
		link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='lib/animate-css/animate.min.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
	body
		#app
			| content
		script(src="/bundle.js")
		script(src='lib/jquery/jquery.min.js')
		script(src='lib/bootstrap/js/bootstrap.min.js')
		script(src='lib/superfish/hoverIntent.js')
		script(src='lib/superfish/superfish.min.js')
		script(src='lib/morphext/morphext.min.js')
		script(src='lib/wow/wow.min.js')
		script(src='lib/stickyjs/sticky.js')
		script(src='lib/easing/easing.js')
		script(src='js/custom.js')
		script(src='contactform/contactform.js')